################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.opendb

bin/
/Code/.vs
/Code/4Step/bin/Development
/Code/4Step/obj
/Code/Beijing/bin/Development
/Code/Beijing/obj
/Code/FortranXTMF
/Code/GTAModel/obj
/Code/LocationAllocationModel/bin/Development
/Code/LocationAllocationModel/obj
/Code/MATSim/bin
/Code/MATSim/obj
/Code/NetworkEstimation/obj
/Code/Tasha.Validation/bin/Development
/Code/Tasha.Validation/obj
/Code/TMG.Distributed/obj
/Code/TMG.Emme/obj
/Code/TMG.Estimation/bin/32Bit
/Code/TMG.Estimation/obj
/Code/TMG.Functions/bin
/Code/TMG.Functions/obj
/Code/TMG.Frameworks/obj
/Code/TMG.GPU/32Bit
/Code/TMG.GPU/64Bit
/Code/TMG.GPU/Debug
/Code/TMG.GPU/Development
/Code/TMG.GPU/Release
/Code/TMG.GPU/x64
/Code/TMG.NetworkEstimation/bin
/Code/TMG.NetworkEstimation/obj
/Code/TMGInterfaces/bin
/Code/TMGInterfaces/obj
/Code/ViewCacheData/bin/x86
/Code/ViewCacheData/obj/x86
/Code/WpfBrowserApplication1
/Code/x64
/Code/XTMF/bin
/Code/XTMF/obj
/Code/XTMF.ConsoleUpdate/bin
/Code/XTMF.ConsoleUpdate/obj
/Code/XTMF.Gui/obj/x86
/Code/XTMF.Gui/bin/x86/Development
/Code/XTMF.Gui.1.1/bin
/Code/XTMF.Gui.1.1/obj
/Code/XTMF.RemoteClient/obj/x86
/Code/XTMF.Run/obj
/Code/XTMF.Run/bin
/Code/XTMF.Update2/bin/Release
/Code/XTMF.Update2/obj/x86
/Code/XTMF1.1/bin
/Code/XTMF1.1/obj
/Code/XTMFCoreTesting/bin
/Code/XTMFCoreTesting/obj
/Code/XTMFInterfaces/bin
/Code/XTMFInterfaces/obj
/Code/XTMFInterfaces/XTMFInterfaces.dll
/Code/XTMFInterfaces/XTMFInterfaces.pdb
/Code/XtmfSDK/bin
/Code/XtmfSDK/obj
/Code/XTMFTesting/bin
/Code/XTMFTesting/obj
/Code/XTMFUpdate/bin/x86
/Code/XTMFUpdate/obj/x86
/Code/XTMFUpdate2/bin
/Code/XTMFUpdate2/obj/x86
/Code/XTMFUpdateServer/bin/x86
/Code/XTMFUpdateServer/obj/x86
/Datastructure/bin
/Datastructure/obj
/FunctionalProgramming/bin
/FunctionalProgramming/obj
/ODCache/bin
/ODCache/obj
/Tasha/obj
/TashaInterfaces/bin
/TashaInterfaces/obj
/TorontoHouseholds/obj
/Code/XTMF.Gui1.psess
/Code/XTMF.opensdf
/Code/XTMF.sdf
/Code/XTMF.sln.ide
/PythonApplication1/.vs/PythonApplication1/v14
/PythonApplication1/PythonApplication1
/PythonApplication1
/PythonApplication2
*.gitattributes
*.vspx
*.psess
/.vs
/Code/Packages
/Code/TMG.Estimation/CalcFitness.cs
/Projects/fgds
/Code/ViewCacheData/obj/xdoc/cache/obj
/Code/XTMF.RemoteClient/obj/xdoc/cache/obj
/Code/XTMF.Update2/obj/xdoc/cache/obj
