<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XTMF.Update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <!-- system.serviceModel section is not supported on .NET 6 (see https://devblogs.microsoft.com/dotnet/migrating-a-sample-wpf-app-to-net-core-3-part-2/#updating-wcf-client-usage)-->
    <!--<system.serviceModel>
  <bindings />
  <client />
</system.serviceModel>-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <XTMF.Update.Properties.Settings>
            <setting name="XTMF_Update2_TMG_WebUpdate_XTMFUpdateWebservice" serializeAs="String">
                <value>http://tmg.utoronto.ca/XTMFUpdate.asmx</value>
            </setting>
        </XTMF.Update.Properties.Settings>
    </applicationSettings>
</configuration>